* {
    box-sizing: border-box; 
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: 2px;
    /* border: solid 1px black; */ 
}

:root {
    --bs-red: #ab0100;
    --bs-gray: #6C6C6C;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 25px;
    z-index: 1000;
    background-color: white;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
    justify-content: space-between; /* 確保子元素之間有足夠的間距 */
}

#header.scrolled {
    top: 0;
    height: 55px;
    background-color: var(--bs-red);
}

#header.scrolled i {
    color: white;
    opacity: 0.9;
}

#header.scrolled #menu-search i{
    color:var(--bs-gray);
}

#header.scrolled .inline-block-nav a {
    color: white;
}

#header.scrolled #search input#input {
    color: white;
}

#header.scrolled .inline-block-nav li a::after {
    border-bottom: 3px solid white;
    opacity: 0.7;
}

#header.scrolled #search input::placeholder {
    color: white;
    opacity: 0.7;
}

#header.scrolled .menu-icon .bar {
    background-color: white; 
}

#header.scrolled #menu{
    top: 55px;
}


.penrote-logo {
    flex: 0 0 200px;
    margin:0px 10px;
}


#nav {
    flex: 1 0 auto; /* 擴展並允許收縮，佔用更多空間 */
}

#nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;   
    align-items: center;
}

#nav li {
    margin: 0 10px;
}

#nav a {
    color: var(--bs-gray);
    text-decoration: none;
    font-size: 16px;
    font-weight: 450;
    padding: 0 15px;
}

#nav li a {
    position: relative;
}

#nav li a::after {
    content: " ";
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: -10px;
    border-bottom: 3px solid var(--bs-red);
    border-radius: 10px;
    transition: 0.3s;
}

#nav li a:hover::after {
    right: 0;
    left: 0;
}

#menu {
    display: none; 
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 69px;
    right: 0;
    text-align: center;
    background-color:white;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    z-index: 500;
}

.menu-list{
    margin: 0px;
    padding: 0px;
}

#menu ul{
    list-style: none;
    margin-bottom: 10px;
}

#menu li{
    padding: 15px 0px;
    display: block;
}

#menu a{
    color: var(--bs-gray);
    text-decoration: none;
}

#menu.active {
    display: flex; 
    opacity: 0.9;
    transform: translateY(0);
}

.menu-icon {
    display: none;
    position: absolute;
    right:30px;
    cursor: pointer;
}

.menu-icon .bar {
    display: block;
    background-color: var(--bs-red);
    border-radius: 5px;
    height: 3px;
    width: 25px;
    margin: 5px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-icon.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

#menu-search {
    display: none;
    position: relative; 
}

#menu.active #menu-search {
    display: block;
}

#menu-search input {
    height: 35px;
    font-size: 11pt;
    color: var(--bs-gray);
    border: solid 1px;
    outline: none;
    background-color: transparent;
    padding-left: 15px;
    margin-bottom: 30px;
    width: 80%;
}

#menu-search .search-btn{
    position: absolute; 
    right: 12%;
    border: none;
    background: transparent;
    cursor: pointer;
}

#menu-search i{
    color: var(--bs-gray);
    font-size: 14px;
}

/* Webkit 浏览器中隐藏清除按钮 */
#menu-input::-webkit-search-clear-button {
    -webkit-appearance: none;
    appearance: none;
}

/* Firefox 中隐藏清除按钮 */
#menu-input::-moz-clear {
    display: none;
}

/* Edge 浏览器 */
#menu-input::-ms-clear {
    display: none;
}

/* Safari 特定处理 */
#menu-input::-webkit-search-cancel-button {
    display: none;
}


#link {
    flex: 1 1 auto; /* 不會擴展，允許收縮 */
    display: flex;
    align-items: center;
}

#link ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

#link li {
    margin: 0 20px;
    font-size: 30px;
}

i {
    color: var(--bs-red);
    vertical-align: sub;
    transition: transform 0.3s ease;
    opacity: 1;
    position: relative;
    vertical-align: baseline;
}

#link i:hover {
    transform: translateY(-10px);
    opacity: 0.8;
}


#search {
    flex: 1 1 auto; /* 不會擴展，允許收縮 */
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 15px;
}

#search input#input {
    height: 35px;
    font-size: 11pt;
    color: var(--bs-gray);
    border: solid 1px;
    outline: none;
    background-color: transparent;
    padding-left: 15px;
}

.search-btn { 
    font-size: 20px;
    margin-left: 10px;
    color: var(--bs-red);
    cursor: pointer;
    border: none;
    background-color: transparent;
    opacity: 1;
}

.search-btn:hover {
    opacity: 0.8;
}

.news-article {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.news-article.visible {
    opacity: 1;
    transform: translateY(0);
}

.news {
    display: inline-block;
    margin-top: 120px;
    margin-left: 120px;
}

.news i {
    vertical-align: baseline;
    margin-right: 10px;
}

.news h2 {
    font-weight: 500;
    color: var(--bs-red);
    display: inline-block;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px;
    margin-bottom: 10px;
}

.article-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    box-shadow: 5px 5px 10px #ddd;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: 25px 20px;
    min-width: 350px;
}

.article-item:hover {
    transform: scale(1.05);
}


.article-item img {
    object-fit: cover;
}

.article-thumbnail {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.article-title {
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
    color: var(--bs-gray);
    text-align: center;
}

.date {
    font-size: 12px;
    color: var(--bs-gray);
    margin: 0px 15px 20px 15px;
    text-align: center;
}

.readmore {
    font-size: 12px;
    color: var(--bs-red);
    margin: 0px 15px 15px 15px;
    text-align: center;
    line-height: 2;
    border: solid 1px;
    opacity: 0.5;
    display: none;
}

.article-item:hover .article-title {
    color: var(--bs-red);
}

.article-item:hover .date {
    display: none;
}

.article-item:hover .readmore {
    display: block;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* 調整寬度以適應視窗 */
    height: 80%;
    margin: 5% auto; /* 垂直居中 */
    z-index: 1002;
    border-radius: 10px;
    overflow: auto; /* 允許滾動 */
}

.modal-content::-webkit-scrollbar {
    width: 10px;
}

.modal-content::-webkit-scrollbar-track {
    background: whitesmoke;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #BEBEBE;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #ADADAD;
}


.close {
    color: black;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    border: none;
    float: right;
    margin-top: -5px;

}

.close:hover,
.close:focus {
    color: var(--bs-red);
    text-decoration: none;
}

 .modal-title {
    color: var(--bs-gray);
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

 .modal-thumbnails {
    text-align: center;
    margin-bottom: 20px;
}

.modal-thumbnails img {
    width: 100%;
    max-width: 500px; 
    display: block;
    margin: 0 auto; 
}

.modal-articles {
    line-height: 2; 
    color: var(--bs-gray);
    padding: 0px 20px;
    font-size: 15px;
}

.modal-articles img {
    width: 100%; 
    max-width: 500px; 
    height: auto;
    display: block;
    margin: 20px auto;
}

#footer {
    background-color: #f8f9fa;
    font-size: 14px;
    border-top: 1px solid #e1e1e1;
    width: 100%;
}

#footer p {
    padding: 20px 50px;
    display: inline-block;
    color: var(--bs-gray);
}


.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: opacity 0.3s ease;
    opacity: 0;
    cursor: pointer;
    font-size: 45px;
    transition: 0.3s;
}

.back-to-top:hover {
    transform: translateY(-20px);
    transition: 0.3s;
}

.back-to-top.show {
    opacity: 1;
}


@media (max-width: 1200px) {
    /* For large screens */
    
    #header{
        top: 10px;
    }

    #nav, #search {
        display: none;
    }
    #link {
        display: flex; 
        position: absolute;
        right:80px;
    }

    #link li{
        font-size: 28px;
    }

    #menu {
        width: 30%;
    }
    .menu-icon {
        display: block; 
    }

    .news{
        margin-top: 90px;
        margin-left: 100px;
    }

    .modal-content{
        width:60%;
    }

    .modal-articles {
        font-size: 14px;
    }


}

@media (max-width: 992px) {
    /* For medium screens (tablets) */
    
    #header{
        top: 10px;
    }

    #nav,
    #search {
        display: none;
    }

    #link li{
        margin: 0px 15px;
        font-size: 25px;
    }

    #menu {
        width: 35%;
    }

    .news{
        margin-top: 90px;
        margin-left: 85px;
    }

    .article-list{
        justify-content: center;
    }
    
    .article-item {
        width: 40%;
    }

    .modal-content{
        width:60%;
    }

    .modal-articles {
        font-size: 14px;
    }

    .back-to-top {
        font-size: 40px; 
    }
}

@media (max-width: 768px) {
    /* For small screens (phones) */

    #header{
        top: 10px;
    }
    .penrote-logo{
        margin:0px 15px;
    }

    #nav,
    #search {
        display: none;
    }

    #link li{
        margin: 0px 12px;
        font-size: 23px;
    }

    #menu{
        width: 40%;
    }

    #menu li{
        font-size: 15px;
    }

    .news{
        margin-top: 90px;
        margin-left: 50px;
    }

    .article-list{
        justify-content: center;
    }
    
    .article-item {
        width: 40%;
    }

    .modal-content{
        width:80%;
    }

    .modal-articles {
        font-size: 13px;
    }

    .back-to-top {
        font-size: 35px; 
    }
}

@media (max-width: 480px) {
    /* For extra small screens (phones in portrait) */
    
    #nav,
    #search {
        display: none;
    }

    #link li{
        margin: 0px 10px;
        font-size: 20px;
    }

    #menu{
        width: 40%;
    }

    .back-to-top {
        font-size: 30px; 
    }
}
