* {
    /* border: solid 1px black; */
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: 2px;
}

:root {
    --bs-red: #ab0100;
    --bs-gray: #6C6C6C;
}

html,
body {
    width: 100%;
    height: 2000px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 25px;
    z-index: 1000;
    background-color: white;
    width: 100%;
    height: 50px;
    transition-duration: 0.5s;
}

#header.scrolled {
    position: fixed;
    top: 0px;
    height: 55px;
    vertical-align: middle;
    background-color: var(--bs-red);
}

#header.scrolled i {
    color: white;
    opacity: 0.9;
}

.penrote-logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 40px;
}

#nav {
    display: inline-block;
    clear: both;
    margin: 0px;
}

#nav.scrolled a {
    color: white;
}

#nav ul {
    margin: 0px;
    list-style: none;
    padding: 5px 0px 5px 20px;
}

#nav li {
    display: inline-block;
    margin: 0px 10px;
}

#nav a {
    color: var(--bs-gray);
    text-decoration: none;
    font-size: 16px;
    font-weight: 450;
    padding: 0px 15px;
}

#nav li a {
    position: relative;
}

#nav li a::after {
    content: " ";
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: -10px;
    border-bottom: 3px solid var(--bs-red);
    border-radius: 10px;
    transition: 0.3s;
}

#nav.scrolled li a::after {
    border-bottom: 3px solid white;
    opacity: 0.7;
}

#nav li a:hover::after {
    right: 0%;
    left: 0%;
}


#link {
    display: inline-block;
    clear: both;
}

#link ul {
    margin: 0px;
    list-style: none;
    padding: 0px 10px;
}

#link li {
    display: inline-block;
    margin: 0px 15px;
    font-size: 30px;
}

i {
    color: var(--bs-red);
    vertical-align: sub;
    position: relative;
    transition: transform 0.3s ease;
    opacity: 1;
}

#link i:hover {
    transform: translateY(-10px);
    opacity: 0.8;
}

#search {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

#search input#input {
    width: 300px;
    height: 35px;
    font-size: 11pt;
    float: left;
    color: var(--bs-gray);
    border: solid 1px;
    padding-left: 15px;
    outline: none;
    background-color: transparent;

}

#search.scrolled input#input {
    color: white;
}

#search.scrolled input::placeholder {
    color: white;
    opacity: 0.7;
}

.search-btn {
    margin-left: 12px;
    font-size: 20px;
    color: var(--bs-red);
    position: relative;
    top: 3px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    opacity: 1;
}

.search-btn :hover {
    opacity: 0.8;
}


.breadcrumbs-container {
    display: flex;
    flex-direction: column;
}

.breadcrumb {
    display: inline-block;
    margin-top: 140px;
    margin-left: 140px;
}

.breadcrumb-item {
    display: inline;
    font-size: 14px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 8px;
    color: var(--bs-gray);
}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--bs-gray);
    opacity: 0.7;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: var(--bs-red);
}

.container {
    display: flex;
    width: 100%;
    max-width: 1080px; 
    margin: 35px auto; 
    gap: 12px; 
    box-sizing: border-box; 
    align-items: flex-start; 
    justify-content: center; 
  }
  
  .thumbnails {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 450px;
    width: 120px; 
    align-items: center;
    box-sizing: border-box;
  }
  
  .thumbnails img {
    cursor: pointer;
    margin-bottom: 12px;
    transition: opacity 0.3s ease;
  }
  
  .thumbnails img.inactive {
    opacity: 0.5; 
  }
  
  .image-scroll {
    overflow-y: auto;
    height: 450px; 
    width: 500px;
    border: 1px solid #ccc; 边框样式
    box-sizing: border-box; 包含边框在宽度计算中
  }
  
  .image-scroll img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px; 
  }
  
  .products {
    width: 420px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
  }
  
  .products .name {
    color: var(--bs-gray); 
    font-weight: 600; 
  }

  .products .model {
    color: var(--bs-gray);
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: -5px;
  }

  .products .feature {
    color: var(--bs-gray); 
    font-weight: 600;
  }

  .products .price {
    color: var(--bs-gray); 
    font-size: 14px; 
    font-weight: 600;
  }


  .products p {
    line-height: 2.5;
    border-left: solid 2px #ddd;
    padding-left: 15px;
    color: var(--bs-gray);
  }
  

  .accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .accordion-button {
    background-color:	#F0F0F0;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: 80%;
    max-width: 1080px;
    border-bottom: 1px solid #ddd;
    position: relative;
    box-sizing: border-box;
    margin: 5px 0px;
    font-size: 14px;
    color: var(--bs-gray);
  }
  
  .accordion-button .toggle-arrow {
    position: absolute;
    right: 20px;
    font-size: 14px;
    color: var(--bs-gray);
    opacity: 0.5;
    transition: transform 0.3s;
  }
  
  .accordion-content {
    display: none;
    width: 80%;
    max-width: 1000px;
    color: var(--bs-gray);
    font-size: 14px;
    line-height: 3;
  }
  
  .accordion-content.show {
    display: block;
  }
  
  .accordion-button.open .toggle-arrow {
    transform: rotate(180deg);
  }
  
  
#footer {
    background-color: #f8f9fa;
    font-size: 14px;
    border-top: 1px solid #e1e1e1;
    width: 100%;
}

#footer p {
    padding: 20px 50px;
    display: inline-block;
    color: var(--bs-gray);
}

.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: opacity 0.3s ease;
    opacity: 0;
    cursor: pointer;
    font-size: 45px;
    transition: 0.3s;
}

.back-to-top:hover {
    transform: translateY(-20px);
    transition: 0.3s;
}

.back-to-top.show {
    opacity: 1;
}
