<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>商品介紹</title>
    <link rel="stylesheet" href="product.css">
    <link rel="icon" href="img/icon.jpeg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a2e1d963ab.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>


</head>

<body>
    <div id="container">
        <div id="header">
            <div class="penrote-logo">
                <a href="index.html"><img src="img/penrote-logo-red.png" width="200" id="logoimg"></a>
            </div>
            <div id="nav">
                <ul class="inline-block-nav">
                    <li><a href="about.html">關於筆樂</a></li>
                    <li><a href="product.html">商品介紹</a></li>
                    <li><a href="news.html">最新消息</a></li>
                    <li><a href="contact.html">聯絡我們</a></li>
                </ul>
            </div>
            <div id="link">
                <ul class="inline-block-link">
                    <li class="facebook"><a href="https://www.facebook.com/PENROTE" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/penrote_tw/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="line"><a href="https://manager.line.biz/account/@kmn4559f" target="_blank"><i class="fa-brands fa-line"></i></a></li>
                    <li class="shop"><a href="https://www.shidaihouse.com" target="_blank"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </div>
            <div id="search">
                <input type="search" id="input" placeholder="搜尋商品">
                <button class="search-btn">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            
        </div>

        <div class="all_products">
            <div class="headline">
                <h2><a href="product.html"><i class="fa-solid fa-pen-fancy"></i> 商品介紹</a></h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                    <!-- 父菜單 -->
                    <!-- 子菜單 -->
                </ol>
            </div>
            <div id="app">
                <div id="submenu"></div>
                <div class="products-container">
                    <div 
                        class="products" 
                        v-for="item in paginatedProducts" 
                        :key="item.model"
                        ref="product" 
                    >
                        <a :href="'product_detail.html?model=' + item.model" target="_blank">
                            <img :src="item.image" class="productimg" alt="Product Image">
                            <h3>{{ item.name }}</h3>
                            <h6>型號｜{{ item.model }}</h6>
                        </a>
                    </div>
                </div>
                <div class="pagination">
                    <button 
                        v-for="page in pageNumbers" 
                        :key="page" 
                        @click="goToPage(page)" 
                        :class="{ active: page === currentPage }">
                        {{ page }}
                    </button>
                </div>
            </div>
        </div>
        <footer id="footer">
            <p>&copy; 2024 Penrote All rights reserved 丞儀企業有限公司</p>
        </footer>
        <a href="#" class="back-to-top" id="backToTopBtn">
            <i class="fa-solid fa-circle-chevron-up"></i>
        </a>
    </div>
    <script src="product.js"></script>
</body>

</html>
